<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Theodora Karalidi</a></h1>
            <p>Theoretical astrophysist with an interest <br />
            in exoplanets, brown dwarfs and <br /> polarization</p>
        </header>
        <nav id="nav">
            <ul>
               <li><a href="/">Home</a></li>
	        	   <li><a href="/about/">Research</a></li>
        		   <li><a href="/CV/">CV</a></li>
			         <li><a href="/teaching/">Teaching</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://github.com/tkaralidi/" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:tkaralidi@ucf.edu" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

{% include nav.html  %}
