<!-- Main -->

    <section id="main">

      <p class="ex1", style="margin-left:2.5em"> <strong> Dr. Theodora Karalidi </strong> </p>

      <p style="margin-left:2.5em"> <strong> Appointments </strong>
      <ul>
      <li> Assistant Professor, Department of Physics, University of  Central Florida, USA
      <li> Postdoctoral Researcher, Department of Astronomy and Astrophysics, University of California Santa Cruz
      <li> Postdoctoral Researcher, Steward Observatory, University of Arizona
     </ul> </p>



    </section>
