<!-- Main -->
---
layout: default
---
    <section id="main">

<html>
	<head>
		<title>Dr. Theodora Karalidi, Theoretical Astrophysicist </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>

		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Theodora Karalidi!</h1>
            <p>  <p>
				<p>I'm a Brown Dwarfs and Exoplanet theorist with a love for polarization. I am an Assistant Professor at the
					University of Central Florida. You can read more about my work <a href="/about"> here </a>
					and about the courses I teach <a href="/teaching"> here .</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->



		<footer>

		</footer>
	</body>
</html>


<img src="{{ site.baseurl }}/images/pl_rnbw.jpg">



    </section>
